
/* ::::: http://openpiv.sourceforge.net/default_1.css ::::: */

body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial,sans-serif; }
table { border-collapse: collapse; }
td { padding: 0pt; }
img { border: 0pt none ; }
form { margin: 0pt; padding: 0pt; }
textarea {  }
.nw { white-space: nowrap; }
.floathelp { border: 1px solid rgb(102, 102, 102); padding: 2px; white-space: nowrap; background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 70%; z-index: 1000; }
#mapCenter { overflow: visible; position: absolute; top: 50%; left: 50%; width: 0pt; height: 0pt; }
#inlineTiles > img { width: 256px; height: 256px; }
.legal { padding: 1em 0.2em 0.2em; font-size: 85%; color: gray; }
.legalattop { padding-bottom: 1em; font-size: 85%; color: gray; }
.deb { font-size: x-small; direction: ltr; }
#deblnk a:link { color: red; }
.sloc { margin-bottom: 0.5em; font-size: small; }
.url { color: green; }
.ssmod2 { font-size: small; color: rgb(119, 119, 204); }
.sslkg { border: 1px solid black; padding: 0pt 2px 2px; background-color: rgb(255, 255, 221); font-size: small; font-weight: normal; }
.ssprev { color: gray; font-size: smaller; }
.errortips li { padding-bottom: 0.8em; font-size: small; }
ul.errortips { padding-left: 1.25em; margin-left: 0pt; }
.smh { margin: 0pt 0pt 5px; padding: 2px; background-color: rgb(255, 255, 153); }
.attention { color: rgb(204, 0, 0); vertical-align: super; font-size: 80%; }
.new { color: rgb(204, 0, 0); }
.mmadd { padding-bottom: 0.2em; text-align: right; }
.ieoneline { white-space: nowrap; }
.iw .rimg { padding: 0.7em 0pt 0pt 1.4em; vertical-align: top; }
.contextmenu { border-style: solid; border-color: rgb(204, 204, 204) rgb(103, 103, 103) rgb(103, 103, 103) rgb(204, 204, 204); border-width: 1px; z-index: 1000; position: absolute; background-color: rgb(255, 255, 255); font-size: 75%; cursor: pointer; }
.contextmenu .divider { border-top: 1px solid rgb(204, 204, 204); }
.menuitem { color: rgb(0, 0, 204); background-color: rgb(255, 255, 255); padding-top: 2px; padding-bottom: 2px; padding-left: 8px; }
.selectedmenuitem { background-color: rgb(211, 227, 254); }
.transnote { color: rgb(221, 64, 66); font-size: 7pt; cursor: pointer; }
.transnoteviewed { color: orange; font-size: 7pt; cursor: pointer; }
.sa { text-align: left; }
.ea { text-align: right; }
a.dtab {  }
.offscreen { position: absolute; left: -1000em; }
@media screen, projection {
  #printmessage, #printspacer { display: none; }
  #page { position: relative; width: 100%; }
  #panel { position: absolute; top: 0pt; left: 0pt; z-index: 2; }
  #panel:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; }
  #panel .clear { font-size: 70%; padding-bottom: 0.5em; padding-top: 3px; }
  #wpanel { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; position: absolute; top: 0pt; left: 0pt; width: 100%; height: 100%; z-index: 3; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; }
  #paneltoggle { position: absolute; top: 0pt; width: 8px; display: block; visibility: hidden; margin-left: 0pt; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; z-index: 2; background-color: rgb(255, 255, 255); }
  #panelarrow { position: absolute; left: 2px; z-index: 3; }
  #map { position: relative; z-index: 1; background-color: rgb(229, 227, 223); }
}
#basichtml2 { padding: 2px 20px; font-weight: bold; }
#basichtml2 a { text-decoration: underline; }
#spsizer { overflow: auto; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; position: relative; }
.subpanel { padding-top: 8px; }
#stats { font-size: small; padding-left: 10px; color: rgb(102, 102, 102); }
#stats #timers { overflow: auto; position: relative; width: 100%; height: 50px; }
#vartitle { font-weight: bold; width: 100%; }
#spsizer { width: 100%; }
#paneltabs { border-collapse: separate; border-spacing: 0pt; width: 100%; font-size: smaller; margin-top: 5px; }
#paneltabs td { border-bottom: 1px solid rgb(255, 153, 0); padding: 2px; }
#paneltabs td.tabOff, #paneltabs td.tabOn { border: 1px solid rgb(255, 153, 0); background-color: rgb(255, 255, 255); cursor: pointer; padding-left: 6px; padding-right: 6px; text-align: center; }
#paneltabs td.tabOn a, #paneltabs td.tabOff a { text-decoration: none; color: rgb(0, 0, 0); }
#paneltabs td.tabOn { background-color: rgb(255, 234, 192); border-bottom-width: 0pt; font-weight: bold; }
#paneltabs td.tabSpacer { width: 10px; }
#paneltabs td.tabLeft { width: 3px; }
#basichtml2 { background-color: rgb(255, 241, 168); }
.links { font-size: small; text-align: right; vertical-align: middle; padding-right: 3px; width: 100%; }
.links a { text-decoration: none; white-space: nowrap; padding-left: 0.75em; color: rgb(0, 0, 204); }
.links a span { text-decoration: underline; }
.links a img { width: 16px; height: 16px; vertical-align: bottom; }
.clear { font-size: 85%; }
#vartitle { border-top: 1px solid rgb(255, 153, 0); background-color: rgb(255, 234, 192); }
.hp .prmimg div { width: 21px; height: 19px; }
.hp411 { background: transparent url('hpimgs9.png') no-repeat scroll -64px -65px; width: 21px; height: 19px; }
.hpadw { background: transparent url('hpimgs9.png') no-repeat scroll -64px -46px; width: 21px; height: 19px; }
.hpeapi { background: transparent url('hpimgs9.png') no-repeat scroll -15px 0pt; width: 21px; height: 19px; }
.hpgmm { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -19px; width: 21px; height: 19px; }
.hplbc { background: transparent url('hpimgs9.png') no-repeat scroll -75px 0pt; width: 21px; height: 19px; }
.hpref { background: transparent url('hpimgs9.png') no-repeat scroll -52px 0pt; width: 21px; height: 19px; }
.links img { width: 16px; height: 16px; }
.bar_icon_email_2 { background: transparent url('hpimgs9.png') no-repeat scroll -16px -89px; width: 16px; height: 16px; }
.bar_icon_link { background: transparent url('hpimgs9.png') no-repeat scroll -84px -89px; width: 16px; height: 16px; }
.bar_icon_print_2 { background: transparent url('hpimgs9.png') no-repeat scroll -48px -89px; width: 16px; height: 16px; }
.bar_icon_survey { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -57px; width: 16px; height: 16px; }
.view_as_kml { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -89px; width: 16px; height: 16px; }
.view_as_rss { background: transparent url('hpimgs9.png') no-repeat scroll -16px -105px; width: 16px; height: 16px; }
#panelarrow { width: 4px; height: 12px; }
.right-arrow { background: transparent url('hpimgs9.png') no-repeat scroll -18px -46px; width: 4px; height: 12px; }
.left-arrow { background: transparent url('hpimgs9.png') no-repeat scroll -80px -89px; width: 4px; height: 12px; }
.ddirflip { background: transparent url('hpimgs9.png') no-repeat scroll -22px -46px; width: 10px; height: 14px; }
.view-t { background: transparent url('hpimgs9.png') no-repeat scroll -48px -46px; width: 15px; height: 12px; }
.view-m { background: transparent url('hpimgs9.png') no-repeat scroll 0pt 0pt; width: 15px; height: 12px; }
.dropdown { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -46px; width: 15px; height: 11px; }
#loadmessagehtml { background-color: rgb(255, 241, 168); position: absolute; left: 47%; top: 0pt; height: 24px; }
.loadmessage_cont { font-size: 81%; font-weight: bold; margin-left: 5px; margin-right: 5px; position: relative; top: 2px; }
.mp { width: 24px; height: 38px; }
.iconA { background: transparent url('red_icons_a_j.png') repeat scroll 0pt 0pt; }
.iconB { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -38px; }
.iconC { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -76px; }
.iconD { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -114px; }
.iconE { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -152px; }
.iconF { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -190px; }
.iconG { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -228px; }
.iconH { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -266px; }
.iconI { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -304px; }
.iconJ { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -342px; }
.icon_kmlA { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt 0pt; }
.icon_kmlB { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -38px; }
.icon_kmlC { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -76px; }
.icon_kmlD { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -114px; }
.icon_kmlE { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -152px; }
.icon_kmlF { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -190px; }
.icon_kmlG { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -228px; }
.icon_kmlH { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -266px; }
.icon_kmlI { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -304px; }
.icon_kmlJ { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -342px; }
.IconCirA { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt 0pt; }
.IconCirB { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -38px; }
.IconCirC { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -76px; }
.IconCirD { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -114px; }
.IconCirE { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -152px; }
.IconCirF { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -190px; }
.IconCirG { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -228px; }
.IconCirH { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -266px; }
.IconCirI { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -304px; }
.IconCirJ { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -342px; }
.iconK { background: transparent url('red_icons_k_z.png') repeat scroll 0pt 0pt; }
.iconL { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -38px; }
.iconM { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -76px; }
.iconN { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -114px; }
.iconO { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -152px; }
.iconP { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -190px; }
.iconQ { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -228px; }
.iconR { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -266px; }
.iconS { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -304px; }
.iconT { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -342px; }
.iconU { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -380px; }
.iconV { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -418px; }
.iconW { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -456px; }
.iconX { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -494px; }
.iconY { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -532px; }
.iconZ { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -570px; }
.icon_kmlK { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt 0pt; }
.icon_kmlL { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -38px; }
.icon_kmlM { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -76px; }
.icon_kmlN { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -114px; }
.icon_kmlO { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -152px; }
.icon_kmlP { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -190px; }
.icon_kmlQ { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -228px; }
.icon_kmlR { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -266px; }
.icon_kmlS { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -304px; }
.icon_kmlT { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -342px; }
.icon_kmlU { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -380px; }
.icon_kmlV { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -418px; }
.icon_kmlW { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -456px; }
.icon_kmlX { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -494px; }
.icon_kmlY { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -532px; }
.icon_kmlZ { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -570px; }
.IconCirK { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt 0pt; }
.IconCirL { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -38px; }
.IconCirM { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -76px; }
.IconCirN { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -114px; }
.IconCirO { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -152px; }
.IconCirP { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -190px; }
.IconCirQ { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -228px; }
.IconCirR { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -266px; }
.IconCirS { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -304px; }
.IconCirT { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -342px; }
.IconCirU { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -380px; }
.IconCirV { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -418px; }
.IconCirW { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -456px; }
.IconCirX { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -494px; }
.IconCirY { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -532px; }
.IconCirZ { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -570px; }
.zippy_plus { background: transparent url('zippy_sprites.png') no-repeat scroll -12px 0pt; width: 12px; height: 12px; cursor: pointer; }
.zippy_minus { background: transparent url('zippy_sprites.png') no-repeat scroll 0pt 0pt; width: 12px; height: 12px; cursor: pointer; }
.welc { font-weight: bold; font-size: medium; }
div.gcparrow { float: left; width: 23px; padding-top: 0.25em; cursor: pointer; }
#gcpaddr {  }
#gcpaddr:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
div.gcpasl { margin-top: 10px; margin-bottom: 10px; font-size: small; }
div.query { margin-bottom: 3px; }
div.gcpaddr { margin-left: 28px; text-align: left; }
#gcpaddrnolink { font-size: 125%; }
#panel_addr { padding: 0.25em 7px 0.5em 5px; cursor: pointer; }
div.gcpaddrnear { color: gray; font-size: small; }
div.ataddr { margin-top: 0.5em; font-size: small; }
div.ataddr div { padding: 0.15em 7px 0.15em 5px; line-height: 1.3; }
div.ataddr div.notice { margin-top: 0.5em; }
.gcp #setasconfirm { width: 20em; }
.hp { margin-right: 0.2em; font-size: small; }
.hp .promo { margin-bottom: 0.6em; }
.hp .home { margin-bottom: 1em; }
.hp .tinstruct { margin-bottom: 1em; }
.hp .amsg { margin-top: 0.3em; margin-bottom: 0.2em; }
.hp .feedback { margin-top: 1em; }
.hp .permpromo { font-size: small; }
.hp .hdr { margin-top: 1em; margin-right: 0.2em; margin-bottom: 0.2em; }
.hp .subhdr { padding-top: 1em; padding-bottom: 0pt; }
.hp .tour { margin-top: 0.5em; }
.hp .eg { padding-right: 0.2em; padding-bottom: 0.2em; margin-top: 1em; }
#dlp { padding-top: 0.4em; }
#dlp .dl { text-align: left; }
#chdli { width: 100%; }
#chdl table { width: 100%; table-layout: fixed; }
#chdl .err { color: rgb(204, 0, 0); padding-bottom: 0.5em; }
.hp .chdli { padding: 0pt 6px 0pt 0pt; }
.hp .chdll { font-size: 85%; }
.hp .chdlh { font-weight: bold; }
.hp .mt { margin-top: 1.5em; }
.hp .prmimg { padding-right: 5px; }
.hp .secondary_link { color: rgb(119, 119, 204); }
.hp .fc { padding-top: 2pt; }
#search { margin-bottom: 1px; }
#search .logo { padding-right: 7px; }
#search .tabs { vertical-align: bottom; padding-bottom: 1px; padding-left: 4px; }
#search .bxfm { padding: 2px 0pt 1px; z-index: 2; position: relative; }
#search .box { vertical-align: top; }
#search .box .form .input .pr { padding-left: 0.35em; }
#search .box .form .labels .pr { padding-left: 0.45em; }
#search .box .btn { padding: 0pt 0.6em; overflow: visible; width: auto; }
#search .box .form .labels td, #solink { padding-top: 1px; font-size: 0.7em; }
#solink { vertical-align: bottom; padding-bottom: 8px; }
#search .box .form .labels .example { color: gray; }
#search .helplinks { vertical-align: top; white-space: nowrap; padding-left: 7px; }
#search .helplinks .selected a { text-decoration: none; color: rgb(0, 0, 0); font-weight: bold; }
#search .box .form .input .ipt { border-bottom: 2px solid rgb(255, 153, 0); padding-bottom: 2px; }
#search td { padding-right: 2px; }
#search .nopr { padding-left: 0.35em; padding-right: 0pt; }
#search .helplinks div { padding: 1px 0.75em; }
#search .helplinks .selected { border-style: solid; border-color: rgb(255, 153, 0); border-width: 0pt 2px 2px; position: relative; top: -3px; z-index: 3; background-color: rgb(255, 234, 192); font-weight: bold; }
#search .helplinks .unselected { position: relative; top: -3px; z-index: 1; }
#search .vbtn { padding-left: 0.35em; vertical-align: bottom; padding-bottom: 4px; }
#sol { padding-left: 0.7em; }
#search .input td { padding-right: 0pt; }
#search .sli { padding-top: 0.8em; padding-left: 1px; }
#solink { white-space: nowrap; padding-left: 0.5em; }
#so { padding-left: 0.5em; }
#q_d { width: 33em; }
#search .helplinks .selected, #search .helplinks .unselected { font-size: 81%; }
#ap .ablight { background-color: rgb(255, 234, 192); }
#ap .abdark { background-color: rgb(255, 204, 153); }
.query { font-size: small; padding-bottom: 0.2em; padding-right: 0.2em; }
.dist { color: gray; }
.nreviews { color: gray; }
.res .p_res .info .btp { border: medium none ; cursor: default; }
.res .p_res { float: left; width: 22.7em; margin-bottom: 10px; margin-left: 10px; }
.res .p_res .info { margin-left: 20px; }
.res .p_res .id { float: left; padding-top: 5px; }
.even_loc { clear: left; }
a.reviews_link { color: rgb(119, 119, 204); }
.rescat { color: gray; }
.viewslink a:visited { color: rgb(0, 0, 204); }
.small_img { padding-bottom: 1px; padding-right: 4px; }
.sublocation { padding-bottom: 1px; padding-top: 3px; }
.vat { vertical-align: top; }
.unver { color: rgb(119, 119, 204); white-space: nowrap; }
.unver a:link { color: rgb(119, 119, 204); }
#panel .local { font-size: small; padding-bottom: 0.5em; }
.cat { padding-right: 7px; }
.disw { margin-top: 14px; margin-bottom: 11px; }
.disw .didyou { color: rgb(204, 0, 0); margin-right: 4px; }
.disw .visibletype { padding-left: 0.6em; padding-right: 0.6em; font-size: 11px; color: rgb(102, 102, 102); }
.disw .ref { margin-top: 4px; margin-left: 18px; }
#zippy { margin-right: 5px; padding-bottom: 1px; float: left; }
#zippanel { margin-bottom: 15px; }
.res { border-collapse: collapse; margin-top: 0.75em; }
.res .one { clear: left; }
.res .icon { cursor: pointer; padding-top: 0.25em; padding-right: 2px; vertical-align: top; text-align: center; }
.res .lsicon { float: left; }
.res .text { padding: 0.25em 7px 0.5em 5px; }
.res .block:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.res .indent { margin-left: 26px; }
.res .name { padding-top: 3px; font-size: 125%; }
.res .lname { margin-bottom: 0.1em; }
.res .detls { font-size: 70%; }
.res .detls a { color: rgb(119, 119, 204); }
.res .detls { padding: 0pt; vertical-align: baseline; }
.res .lscmore { font-size: 85%; color: rgb(119, 119, 204); }
.res .lscmore a { color: rgb(119, 119, 204); }
.notices { margin-top: 1em; clear: left; }
.wpt { margin-top: 1em; margin-bottom: 1em; font-size: medium; }
.obfoot { font-size: small; padding-bottom: 1em; padding-top: 0pt; }
.tightname { font-size: small; padding-top: 0pt; }
.ssadd { font-size: small; }
.ssadd div { padding-top: 5px; }
.ssadd ul { margin-top: 3px; padding-left: 20px; }
.ssadd hr { border: 0pt none ; background-color: rgb(204, 204, 204); color: rgb(204, 204, 204); height: 1px; width: 100%; }
#attrBar li { margin: 0pt; padding: 0pt; float: left; }
#attrBar li.prompt { padding-right: 6px; }
#attrBar li.sep { padding: 0pt 5px; }
#attrBar li.on { color: rgb(0, 0, 0); cursor: text; font-weight: bold; text-decoration: none; }
#attrBar li.off { color: rgb(0, 0, 204); cursor: pointer; text-decoration: underline; }
#attrBar { margin: 0pt; padding: 0pt; display: block; font-size: smaller; height: 20px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#tvt { font-size: 72%; text-align: right; }
#tvt img { margin-right: 4px; }
#tvt a { margin: 8px; text-decoration: none; }
#tvt span.o { margin-right: 8px; }
#tvt span.l { text-decoration: underline; }
#tvt hr { border: 0pt none ; background-color: rgb(204, 204, 204); color: rgb(204, 204, 204); height: 1px; width: 100%; }
#resultspanel .suggest { margin-bottom: 11px; margin-top: 8px; }
.ucc { font-size: medium; margin-bottom: 15px; margin-top: 10px; clear: left; }
.bt { border: 1px solid blue; background: rgb(255, 255, 255) none no-repeat scroll center center; overflow: hidden; cursor: pointer; width: 85px; height: 60px; margin-right: 5px; margin-top: 2px; float: left; }
.s { margin-top: 0.2em; }
.pl { margin-left: 6px; margin-right: 4px; vertical-align: text-top; }
.onebox { margin-top: 0.5em; font-size: small; margin-bottom: 1em; }
.onebox td { vertical-align: top; }
.onebox .icon { padding-top: 0.4em; padding-right: 2px; padding-bottom: 0.1em; }
.onebox .text { padding: 0.2em 7px 0.1em 5px; }
.onebox .attr_link { padding-bottom: 1em; color: green; }
.onebox a:visited { color: rgb(0, 0, 204); }
body { margin: 3px 8px 0px; }
#vp { position: absolute; top: -10px; left: -10px; width: 1px; height: 1px; visibility: hidden; }
#homestate { display: none; }
#header { margin-top: 0.5em; }
#search .logo { vertical-align: top; }
#panel { width: 23.75em; }
#paneltoggle { left: 23.75em; }
.iw .attr { width: 23.75em; }
#map, #mclip { border-style: solid; border-color: rgb(151, 151, 151); border-width: 0px 1px 1px; overflow: hidden; left: 23.75em; margin-left: 8px; margin-right: 23.75em; }
#inlineTiles { left: -146px; top: -121px; white-space: nowrap; position: absolute; line-height: 0pt; }
html, body { overflow: hidden; }
#ph, #mmp, .pw, .pwc { display: none; }
#panel .selected { background-color: rgb(238, 238, 238); }
@media screen {
  .noscreen { display: none; }
}
@media print {
  html { overflow: auto; }
  body { overflow: visible; }
  .noprint, #search, #guser, #reportabug, .deb { display: none; }
  .hMainM #main_map { position: absolute; visibility: hidden; }
  #main_map { margin-bottom: 0.5em; }
  .pw { display: block; }
  #header .links { padding: 2px 0pt; }
  #page { height: auto; }
  #map { position: relative; }
  #map, #map_printimage { border-width: 1px; margin-left: 0pt; left: 0pt; margin-right: 0pt; }
  #plt .plc { vertical-align: top; width: 100%; }
  #plt { position: relative; }
  #pl_ctls { padding-top: 0px; text-align: right; height: 1em; }
  #panel { position: relative; float: none; width: 100%; }
  #spsizer { overflow: visible; }
  #ph { display: block; position: relative; top: 0pt; left: 0pt; margin-bottom: 0.3em; }
  #ph td { padding-left: 0.2em; padding-right: 0.2em; vertical-align: top; }
  #ph td.value { padding-bottom: 0.2em; font-weight: bold; }
  #ph .name { font-size: 90%; text-align: right; }
  #ph .notes { width: 100%; }
  #ph td.phh { width: 300px; }
  #ph td.phn { padding: 0pt; width: 100%; }
  #ph .rmvalue { font-weight: normal; }
  #pnc table { width: 100%; }
  #pnc td.name { margin-left: 1em; white-space: nowrap; }
  #pnc textarea, #pnc div { width: 100%; font-family: Arial,sans-serif; font-size: 75%; }
  #pnc.untouched textarea { color: silver; }
  #pnc #gmm_msg { display: none; }
  .pw .res .id { padding-top: 0.15em; }
  .pw .res .text, .pw .res .name { padding-top: 0pt; }
  #localpanel .query { display: none; }
  #panel .selected { background-color: white; }
  #tsp table.directions tr.leg_primary td.leg_text { border-top: 3px solid rgb(128, 128, 128); border-bottom: 1px solid silver; }
  #tsp table.directions tr.leg_secondary td.leg_text { border-top: 1px dashed silver; margin-top: 2px; }
  .onelineo { height: auto; }
  .onelinei { height: auto; line-height: normal; top: auto; position: relative; }
  .ieoneline { white-space: normal; }
}
.gcpck { font-size: small; line-height: 150%; vertical-align: middle; }
.gcpfn { font-weight: bold; margin-top: 24px; }
.gcpptr { cursor: pointer; }
.gcpkw { padding-left: 19px; }
.gcpzip { padding-bottom: 3px; padding-right: 5px; vertical-align: middle; }
.dragtarget[route="-1"] *, .dragtarget[route="0"][pos="beforeRoute"] * { margin-top: 0px; padding-top: 0px; }
.fade { opacity: 0.7; }
#topads, #bottomads { background-color: rgb(229, 236, 249); }
.ads .marker { margin-left: 2px; }
.ad div.geoadtext { padding-left: 36px; }
.adsmessage { font-size: 90%; margin-bottom: 4px; }
.ad { margin-bottom: 0.5em; }
.local .ad .line1 { font-size: medium; }
.ads .text .webst { font-size: 70%; }
.mclip_content .ad { margin: 0pt 0.3em; position: relative; left: 0px; }
.mclip_content .addr, .mclip_content .line5 { color: gray; }
.mclip_button_available, .mclip_button_unavailable { border: 1px solid ; padding: 0pt 3px; -moz-user-select: none; font-size: 90%; margin-left: 4px; }
.mclip_button_unavailable { border-color: rgb(173, 200, 255); color: rgb(102, 158, 255); cursor: default; }
.mclip_button_available { border-color: rgb(173, 203, 255); background: rgb(199, 219, 255) none repeat scroll 0% 50%; color: rgb(102, 158, 255); cursor: pointer; font-weight: bold; }
.zip_minus { background: transparent url('zip.png') no-repeat scroll 0pt -14px; width: 14px; height: 14px; }
.zip_plus { background: transparent url('zip.png') no-repeat scroll 0pt 0pt; width: 14px; height: 14px; }
body { margin: 0px; }
#map { border: 0pt none ; margin: 0pt; left: 0pt; }
.embeddedoutput { display: none; }
