
/* ::::: http://openpiv.sourceforge.net/index_1.css ::::: */

body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial,sans-serif; }
table { border-collapse: collapse; }
td { padding: 0pt; }
img { border: 0pt none ; }
form { margin: 0pt; padding: 0pt; }
textarea {  }
.nw { white-space: nowrap; }
.floathelp { border: 1px solid rgb(102, 102, 102); padding: 2px; white-space: nowrap; background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 70%; z-index: 1000; }
#mapCenter { overflow: visible; position: absolute; top: 50%; left: 50%; width: 0pt; height: 0pt; }
#inlineTiles > img { width: 256px; height: 256px; }
.legal { padding: 1em 0.2em 0.2em; font-size: 85%; color: gray; }
.legalattop { padding-bottom: 1em; font-size: 85%; color: gray; }
.deb { font-size: x-small; direction: ltr; }
#deblnk a:link { color: red; }
.sloc { margin-bottom: 0.5em; font-size: small; }
.url { color: green; }
.ssmod2 { font-size: small; color: rgb(119, 119, 204); }
.sslkg { border: 1px solid black; padding: 0pt 2px 2px; background-color: rgb(255, 255, 221); font-size: small; font-weight: normal; }
.ssprev { color: gray; font-size: smaller; }
.errortips li { padding-bottom: 0.8em; font-size: small; }
ul.errortips { padding-left: 1.25em; margin-left: 0pt; }
.smh { margin: 0pt 0pt 5px; padding: 2px; background-color: rgb(255, 255, 153); }
.attention { color: rgb(204, 0, 0); vertical-align: super; font-size: 80%; }
.new { color: rgb(204, 0, 0); }
.mmadd { padding-bottom: 0.2em; text-align: right; }
.ieoneline { white-space: nowrap; }
.iw .rimg { padding: 0.7em 0pt 0pt 1.4em; vertical-align: top; }
.contextmenu { border-style: solid; border-color: rgb(204, 204, 204) rgb(103, 103, 103) rgb(103, 103, 103) rgb(204, 204, 204); border-width: 1px; z-index: 1000; position: absolute; background-color: rgb(255, 255, 255); font-size: 75%; cursor: pointer; }
.contextmenu .divider { border-top: 1px solid rgb(204, 204, 204); }
.menuitem { color: rgb(0, 0, 204); background-color: rgb(255, 255, 255); padding-top: 2px; padding-bottom: 2px; padding-left: 8px; }
.selectedmenuitem { background-color: rgb(211, 227, 254); }
.transnote { color: rgb(221, 64, 66); font-size: 7pt; cursor: pointer; }
.transnoteviewed { color: orange; font-size: 7pt; cursor: pointer; }
.sa { text-align: left; }
.ea { text-align: right; }
a.dtab {  }
.offscreen { position: absolute; left: -1000em; }
@media screen, projection {
  #printmessage, #printspacer { display: none; }
  #page { position: relative; width: 100%; }
  #panel { position: absolute; top: 0pt; left: 0pt; z-index: 2; }
  #panel:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; }
  #panel .clear { font-size: 70%; padding-bottom: 0.5em; padding-top: 3px; }
  #wpanel { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; position: absolute; top: 0pt; left: 0pt; width: 100%; height: 100%; z-index: 3; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; }
  #paneltoggle { position: absolute; top: 0pt; width: 8px; display: block; visibility: hidden; margin-left: 0pt; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; z-index: 2; background-color: rgb(255, 255, 255); }
  #panelarrow { position: absolute; left: 2px; z-index: 3; }
  #map { position: relative; z-index: 1; background-color: rgb(229, 227, 223); }
}
#basichtml2 { padding: 2px 20px; font-weight: bold; }
#basichtml2 a { text-decoration: underline; }
#spsizer { overflow: auto; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; position: relative; }
.subpanel { padding-top: 8px; }
#stats { font-size: small; padding-left: 10px; color: rgb(102, 102, 102); }
#stats #timers { overflow: auto; position: relative; width: 100%; height: 50px; }
#vartitle { font-weight: bold; width: 100%; }
#spsizer { width: 100%; }
#paneltabs { border-collapse: separate; border-spacing: 0pt; width: 100%; font-size: smaller; margin-top: 5px; }
#paneltabs td { border-bottom: 1px solid rgb(255, 153, 0); padding: 2px; }
#paneltabs td.tabOff, #paneltabs td.tabOn { border: 1px solid rgb(255, 153, 0); background-color: rgb(255, 255, 255); cursor: pointer; padding-left: 6px; padding-right: 6px; text-align: center; }
#paneltabs td.tabOn a, #paneltabs td.tabOff a { text-decoration: none; color: rgb(0, 0, 0); }
#paneltabs td.tabOn { background-color: rgb(255, 234, 192); border-bottom-width: 0pt; font-weight: bold; }
#paneltabs td.tabSpacer { width: 10px; }
#paneltabs td.tabLeft { width: 3px; }
#basichtml2 { background-color: rgb(255, 241, 168); }
.links { font-size: small; text-align: right; vertical-align: middle; padding-right: 3px; width: 100%; }
.links a { text-decoration: none; white-space: nowrap; padding-left: 0.75em; color: rgb(0, 0, 204); }
.links a span { text-decoration: underline; }
.links a img { width: 16px; height: 16px; vertical-align: bottom; }
.clear { font-size: 85%; }
#vartitle { border-top: 1px solid rgb(255, 153, 0); background-color: rgb(255, 234, 192); }
.hp .prmimg div { width: 21px; height: 19px; }
.hp411 { background: transparent url('hpimgs9.png') no-repeat scroll -64px -65px; width: 21px; height: 19px; }
.hpadw { background: transparent url('hpimgs9.png') no-repeat scroll -64px -46px; width: 21px; height: 19px; }
.hpeapi { background: transparent url('hpimgs9.png') no-repeat scroll -15px 0pt; width: 21px; height: 19px; }
.hpgmm { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -19px; width: 21px; height: 19px; }
.hplbc { background: transparent url('hpimgs9.png') no-repeat scroll -75px 0pt; width: 21px; height: 19px; }
.hpref { background: transparent url('hpimgs9.png') no-repeat scroll -52px 0pt; width: 21px; height: 19px; }
.links img { width: 16px; height: 16px; }
.bar_icon_email_2 { background: transparent url('hpimgs9.png') no-repeat scroll -16px -89px; width: 16px; height: 16px; }
.bar_icon_link { background: transparent url('hpimgs9.png') no-repeat scroll -84px -89px; width: 16px; height: 16px; }
.bar_icon_print_2 { background: transparent url('hpimgs9.png') no-repeat scroll -48px -89px; width: 16px; height: 16px; }
.bar_icon_survey { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -57px; width: 16px; height: 16px; }
.view_as_kml { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -89px; width: 16px; height: 16px; }
.view_as_rss { background: transparent url('hpimgs9.png') no-repeat scroll -16px -105px; width: 16px; height: 16px; }
#panelarrow { width: 4px; height: 12px; }
.right-arrow { background: transparent url('hpimgs9.png') no-repeat scroll -18px -46px; width: 4px; height: 12px; }
.left-arrow { background: transparent url('hpimgs9.png') no-repeat scroll -80px -89px; width: 4px; height: 12px; }
.ddirflip { background: transparent url('hpimgs9.png') no-repeat scroll -22px -46px; width: 10px; height: 14px; }
.view-t { background: transparent url('hpimgs9.png') no-repeat scroll -48px -46px; width: 15px; height: 12px; }
.view-m { background: transparent url('hpimgs9.png') no-repeat scroll 0pt 0pt; width: 15px; height: 12px; }
.dropdown { background: transparent url('hpimgs9.png') no-repeat scroll 0pt -46px; width: 15px; height: 11px; }
#loadmessagehtml { background-color: rgb(255, 241, 168); position: absolute; left: 47%; top: 0pt; height: 24px; }
.loadmessage_cont { font-size: 81%; font-weight: bold; margin-left: 5px; margin-right: 5px; position: relative; top: 2px; }
.mp { width: 24px; height: 38px; }
.iconA { background: transparent url('red_icons_a_j.png') repeat scroll 0pt 0pt; }
.iconB { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -38px; }
.iconC { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -76px; }
.iconD { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -114px; }
.iconE { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -152px; }
.iconF { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -190px; }
.iconG { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -228px; }
.iconH { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -266px; }
.iconI { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -304px; }
.iconJ { background: transparent url('red_icons_a_j.png') repeat scroll 0pt -342px; }
.icon_kmlA { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt 0pt; }
.icon_kmlB { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -38px; }
.icon_kmlC { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -76px; }
.icon_kmlD { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -114px; }
.icon_kmlE { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -152px; }
.icon_kmlF { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -190px; }
.icon_kmlG { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -228px; }
.icon_kmlH { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -266px; }
.icon_kmlI { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -304px; }
.icon_kmlJ { background: transparent url('kml_icons_a_j.png') repeat scroll 0pt -342px; }
.IconCirA { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt 0pt; }
.IconCirB { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -38px; }
.IconCirC { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -76px; }
.IconCirD { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -114px; }
.IconCirE { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -152px; }
.IconCirF { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -190px; }
.IconCirG { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -228px; }
.IconCirH { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -266px; }
.IconCirI { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -304px; }
.IconCirJ { background: transparent url('red_circle_icons_a_j.png') repeat scroll 0pt -342px; }
.iconK { background: transparent url('red_icons_k_z.png') repeat scroll 0pt 0pt; }
.iconL { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -38px; }
.iconM { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -76px; }
.iconN { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -114px; }
.iconO { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -152px; }
.iconP { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -190px; }
.iconQ { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -228px; }
.iconR { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -266px; }
.iconS { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -304px; }
.iconT { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -342px; }
.iconU { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -380px; }
.iconV { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -418px; }
.iconW { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -456px; }
.iconX { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -494px; }
.iconY { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -532px; }
.iconZ { background: transparent url('red_icons_k_z.png') repeat scroll 0pt -570px; }
.icon_kmlK { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt 0pt; }
.icon_kmlL { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -38px; }
.icon_kmlM { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -76px; }
.icon_kmlN { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -114px; }
.icon_kmlO { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -152px; }
.icon_kmlP { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -190px; }
.icon_kmlQ { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -228px; }
.icon_kmlR { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -266px; }
.icon_kmlS { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -304px; }
.icon_kmlT { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -342px; }
.icon_kmlU { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -380px; }
.icon_kmlV { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -418px; }
.icon_kmlW { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -456px; }
.icon_kmlX { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -494px; }
.icon_kmlY { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -532px; }
.icon_kmlZ { background: transparent url('kml_icons_k_z.png') repeat scroll 0pt -570px; }
.IconCirK { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt 0pt; }
.IconCirL { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -38px; }
.IconCirM { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -76px; }
.IconCirN { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -114px; }
.IconCirO { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -152px; }
.IconCirP { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -190px; }
.IconCirQ { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -228px; }
.IconCirR { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -266px; }
.IconCirS { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -304px; }
.IconCirT { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -342px; }
.IconCirU { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -380px; }
.IconCirV { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -418px; }
.IconCirW { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -456px; }
.IconCirX { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -494px; }
.IconCirY { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -532px; }
.IconCirZ { background: transparent url('red_circle_icons_k_z.png') repeat scroll 0pt -570px; }
.zippy_plus { background: transparent url('zippy_sprites.png') no-repeat scroll -12px 0pt; width: 12px; height: 12px; cursor: pointer; }
.zippy_minus { background: transparent url('zippy_sprites.png') no-repeat scroll 0pt 0pt; width: 12px; height: 12px; cursor: pointer; }
.welc { font-weight: bold; font-size: medium; }
div.gcparrow { float: left; width: 23px; padding-top: 0.25em; cursor: pointer; }
#gcpaddr {  }
#gcpaddr:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
div.gcpasl { margin-top: 10px; margin-bottom: 10px; font-size: small; }
div.query { margin-bottom: 3px; }
div.gcpaddr { margin-left: 28px; text-align: left; }
#gcpaddrnolink { font-size: 125%; }
#panel_addr { padding: 0.25em 7px 0.5em 5px; cursor: pointer; }
div.gcpaddrnear { color: gray; font-size: small; }
div.ataddr { margin-top: 0.5em; font-size: small; }
div.ataddr div { padding: 0.15em 7px 0.15em 5px; line-height: 1.3; }
div.ataddr div.notice { margin-top: 0.5em; }
.gcp #setasconfirm { width: 20em; }
.hp { margin-right: 0.2em; font-size: small; }
.hp .promo { margin-bottom: 0.6em; }
.hp .home { margin-bottom: 1em; }
.hp .tinstruct { margin-bottom: 1em; }
.hp .amsg { margin-top: 0.3em; margin-bottom: 0.2em; }
.hp .feedback { margin-top: 1em; }
.hp .permpromo { font-size: small; }
.hp .hdr { margin-top: 1em; margin-right: 0.2em; margin-bottom: 0.2em; }
.hp .subhdr { padding-top: 1em; padding-bottom: 0pt; }
.hp .tour { margin-top: 0.5em; }
.hp .eg { padding-right: 0.2em; padding-bottom: 0.2em; margin-top: 1em; }
#dlp { padding-top: 0.4em; }
#dlp .dl { text-align: left; }
#chdli { width: 100%; }
#chdl table { width: 100%; table-layout: fixed; }
#chdl .err { color: rgb(204, 0, 0); padding-bottom: 0.5em; }
.hp .chdli { padding: 0pt 6px 0pt 0pt; }
.hp .chdll { font-size: 85%; }
.hp .chdlh { font-weight: bold; }
.hp .mt { margin-top: 1.5em; }
.hp .prmimg { padding-right: 5px; }
.hp .secondary_link { color: rgb(119, 119, 204); }
.hp .fc { padding-top: 2pt; }
#search { margin-bottom: 1px; }
#search .logo { padding-right: 7px; }
#search .tabs { vertical-align: bottom; padding-bottom: 1px; padding-left: 4px; }
#search .bxfm { padding: 2px 0pt 1px; z-index: 2; position: relative; }
#search .box { vertical-align: top; }
#search .box .form .input .pr { padding-left: 0.35em; }
#search .box .form .labels .pr { padding-left: 0.45em; }
#search .box .btn { padding: 0pt 0.6em; overflow: visible; width: auto; }
#search .box .form .labels td, #solink { padding-top: 1px; font-size: 0.7em; }
#solink { vertical-align: bottom; padding-bottom: 8px; }
#search .box .form .labels .example { color: gray; }
#search .helplinks { vertical-align: top; white-space: nowrap; padding-left: 7px; }
#search .helplinks .selected a { text-decoration: none; color: rgb(0, 0, 0); font-weight: bold; }
#search .box .form .input .ipt { border-bottom: 2px solid rgb(255, 153, 0); padding-bottom: 2px; }
#search td { padding-right: 2px; }
#search .nopr { padding-left: 0.35em; padding-right: 0pt; }
#search .helplinks div { padding: 1px 0.75em; }
#search .helplinks .selected { border-style: solid; border-color: rgb(255, 153, 0); border-width: 0pt 2px 2px; position: relative; top: -3px; z-index: 3; background-color: rgb(255, 234, 192); font-weight: bold; }
#search .helplinks .unselected { position: relative; top: -3px; z-index: 1; }
#search .vbtn { padding-left: 0.35em; vertical-align: bottom; padding-bottom: 4px; }
#sol { padding-left: 0.7em; }
#search .input td { padding-right: 0pt; }
#search .sli { padding-top: 0.8em; padding-left: 1px; }
#solink { white-space: nowrap; padding-left: 0.5em; }
#so { padding-left: 0.5em; }
#q_d { width: 33em; }
#search .helplinks .selected, #search .helplinks .unselected { font-size: 81%; }
#ap .ablight { background-color: rgb(255, 234, 192); }
#ap .abdark { background-color: rgb(255, 204, 153); }
.query { font-size: small; padding-bottom: 0.2em; padding-right: 0.2em; }
.dist { color: gray; }
.nreviews { color: gray; }
.res .p_res .info .btp { border: medium none ; cursor: default; }
.res .p_res { float: left; width: 22.7em; margin-bottom: 10px; margin-left: 10px; }
.res .p_res .info { margin-left: 20px; }
.res .p_res .id { float: left; padding-top: 5px; }
.even_loc { clear: left; }
a.reviews_link { color: rgb(119, 119, 204); }
.rescat { color: gray; }
.viewslink a:visited { color: rgb(0, 0, 204); }
.small_img { padding-bottom: 1px; padding-right: 4px; }
.sublocation { padding-bottom: 1px; padding-top: 3px; }
.vat { vertical-align: top; }
.unver { color: rgb(119, 119, 204); white-space: nowrap; }
.unver a:link { color: rgb(119, 119, 204); }
#panel .local { font-size: small; padding-bottom: 0.5em; }
.cat { padding-right: 7px; }
.disw { margin-top: 14px; margin-bottom: 11px; }
.disw .didyou { color: rgb(204, 0, 0); margin-right: 4px; }
.disw .visibletype { padding-left: 0.6em; padding-right: 0.6em; font-size: 11px; color: rgb(102, 102, 102); }
.disw .ref { margin-top: 4px; margin-left: 18px; }
#zippy { margin-right: 5px; padding-bottom: 1px; float: left; }
#zippanel { margin-bottom: 15px; }
.res { border-collapse: collapse; margin-top: 0.75em; }
.res .one { clear: left; }
.res .icon { cursor: pointer; padding-top: 0.25em; padding-right: 2px; vertical-align: top; text-align: center; }
.res .lsicon { float: left; }
.res .text { padding: 0.25em 7px 0.5em 5px; }
.res .block:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.res .indent { margin-left: 26px; }
.res .name { padding-top: 3px; font-size: 125%; }
.res .lname { margin-bottom: 0.1em; }
.res .detls { font-size: 70%; }
.res .detls a { color: rgb(119, 119, 204); }
.res .detls { padding: 0pt; vertical-align: baseline; }
.res .lscmore { font-size: 85%; color: rgb(119, 119, 204); }
.res .lscmore a { color: rgb(119, 119, 204); }
.notices { margin-top: 1em; clear: left; }
.wpt { margin-top: 1em; margin-bottom: 1em; font-size: medium; }
.obfoot { font-size: small; padding-bottom: 1em; padding-top: 0pt; }
.tightname { font-size: small; padding-top: 0pt; }
.ssadd { font-size: small; }
.ssadd div { padding-top: 5px; }
.ssadd ul { margin-top: 3px; padding-left: 20px; }
.ssadd hr { border: 0pt none ; background-color: rgb(204, 204, 204); color: rgb(204, 204, 204); height: 1px; width: 100%; }
#attrBar li { margin: 0pt; padding: 0pt; float: left; }
#attrBar li.prompt { padding-right: 6px; }
#attrBar li.sep { padding: 0pt 5px; }
#attrBar li.on { color: rgb(0, 0, 0); cursor: text; font-weight: bold; text-decoration: none; }
#attrBar li.off { color: rgb(0, 0, 204); cursor: pointer; text-decoration: underline; }
#attrBar { margin: 0pt; padding: 0pt; display: block; font-size: smaller; height: 20px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#tvt { font-size: 72%; text-align: right; }
#tvt img { margin-right: 4px; }
#tvt a { margin: 8px; text-decoration: none; }
#tvt span.o { margin-right: 8px; }
#tvt span.l { text-decoration: underline; }
#tvt hr { border: 0pt none ; background-color: rgb(204, 204, 204); color: rgb(204, 204, 204); height: 1px; width: 100%; }
#resultspanel .suggest { margin-bottom: 11px; margin-top: 8px; }
.ucc { font-size: medium; margin-bottom: 15px; margin-top: 10px; clear: left; }
.bt { border: 1px solid blue; background: rgb(255, 255, 255) none no-repeat scroll center center; overflow: hidden; cursor: pointer; width: 85px; height: 60px; margin-right: 5px; margin-top: 2px; float: left; }
.s { margin-top: 0.2em; }
.pl { margin-left: 6px; margin-right: 4px; vertical-align: text-top; }
.onebox { margin-top: 0.5em; font-size: small; margin-bottom: 1em; }
.onebox td { vertical-align: top; }
.onebox .icon { padding-top: 0.4em; padding-right: 2px; padding-bottom: 0.1em; }
.onebox .text { padding: 0.2em 7px 0.1em 5px; }
.onebox .attr_link { padding-bottom: 1em; color: green; }
.onebox a:visited { color: rgb(0, 0, 204); }
body { margin: 3px 8px 0px; }
#vp { position: absolute; top: -10px; left: -10px; width: 1px; height: 1px; visibility: hidden; }
#homestate { display: none; }
#header { margin-top: 0.5em; }
#search .logo { vertical-align: top; }
#panel { width: 23.75em; }
#paneltoggle { left: 23.75em; }
.iw .attr { width: 23.75em; }
#map, #mclip { border-style: solid; border-color: rgb(151, 151, 151); border-width: 0px 1px 1px; overflow: hidden; left: 23.75em; margin-left: 8px; margin-right: 23.75em; }
#inlineTiles { left: -146px; top: -121px; white-space: nowrap; position: absolute; line-height: 0pt; }
html, body { overflow: hidden; }
#ph, #mmp, .pw, .pwc { display: none; }
#panel .selected { background-color: rgb(238, 238, 238); }
@media screen {
  .noscreen { display: none; }
}
@media print {
  html { overflow: auto; }
  body { overflow: visible; }
  .noprint, #search, #guser, #reportabug, .deb { display: none; }
  .hMainM #main_map { position: absolute; visibility: hidden; }
  #main_map { margin-bottom: 0.5em; }
  .pw { display: block; }
  #header .links { padding: 2px 0pt; }
  #page { height: auto; }
  #map { position: relative; }
  #map, #map_printimage { border-width: 1px; margin-left: 0pt; left: 0pt; margin-right: 0pt; }
  #plt .plc { vertical-align: top; width: 100%; }
  #plt { position: relative; }
  #pl_ctls { padding-top: 0px; text-align: right; height: 1em; }
  #panel { position: relative; float: none; width: 100%; }
  #spsizer { overflow: visible; }
  #ph { display: block; position: relative; top: 0pt; left: 0pt; margin-bottom: 0.3em; }
  #ph td { padding-left: 0.2em; padding-right: 0.2em; vertical-align: top; }
  #ph td.value { padding-bottom: 0.2em; font-weight: bold; }
  #ph .name { font-size: 90%; text-align: right; }
  #ph .notes { width: 100%; }
  #ph td.phh { width: 300px; }
  #ph td.phn { padding: 0pt; width: 100%; }
  #ph .rmvalue { font-weight: normal; }
  #pnc table { width: 100%; }
  #pnc td.name { margin-left: 1em; white-space: nowrap; }
  #pnc textarea, #pnc div { width: 100%; font-family: Arial,sans-serif; font-size: 75%; }
  #pnc.untouched textarea { color: silver; }
  #pnc #gmm_msg { display: none; }
  .pw .res .id { padding-top: 0.15em; }
  .pw .res .text, .pw .res .name { padding-top: 0pt; }
  #localpanel .query { display: none; }
  #panel .selected { background-color: white; }
  #tsp table.directions tr.leg_primary td.leg_text { border-top: 3px solid rgb(128, 128, 128); border-bottom: 1px solid silver; }
  #tsp table.directions tr.leg_secondary td.leg_text { border-top: 1px dashed silver; margin-top: 2px; }
  .onelineo { height: auto; }
  .onelinei { height: auto; line-height: normal; top: auto; position: relative; }
  .ieoneline { white-space: normal; }
}
.gcpck { font-size: small; line-height: 150%; vertical-align: middle; }
.gcpfn { font-weight: bold; margin-top: 24px; }
.gcpptr { cursor: pointer; }
.gcpkw { padding-left: 19px; }
.gcpzip { padding-bottom: 3px; padding-right: 5px; vertical-align: middle; }
.dragtarget[route="-1"] *, .dragtarget[route="0"][pos="beforeRoute"] * { margin-top: 0px; padding-top: 0px; }
.fade { opacity: 0.7; }
#topads, #bottomads { background-color: rgb(229, 236, 249); }
.ads .marker { margin-left: 2px; }
.ad div.geoadtext { padding-left: 36px; }
.adsmessage { font-size: 90%; margin-bottom: 4px; }
.ad { margin-bottom: 0.5em; }
.local .ad .line1 { font-size: medium; }
.ads .text .webst { font-size: 70%; }
.mclip_content .ad { margin: 0pt 0.3em; position: relative; left: 0px; }
.mclip_content .addr, .mclip_content .line5 { color: gray; }
.mclip_button_available, .mclip_button_unavailable { border: 1px solid ; padding: 0pt 3px; -moz-user-select: none; font-size: 90%; margin-left: 4px; }
.mclip_button_unavailable { border-color: rgb(173, 200, 255); color: rgb(102, 158, 255); cursor: default; }
.mclip_button_available { border-color: rgb(173, 203, 255); background: rgb(199, 219, 255) none repeat scroll 0% 50%; color: rgb(102, 158, 255); cursor: pointer; font-weight: bold; }
.zip_minus { background: transparent url('zip.png') no-repeat scroll 0pt -14px; width: 14px; height: 14px; }
.zip_plus { background: transparent url('zip.png') no-repeat scroll 0pt 0pt; width: 14px; height: 14px; }
body { margin: 0px; }
#map { border: 0pt none ; margin: 0pt; left: 0pt; }
.embeddedoutput { display: none; }
@media print {
  .gmnoprint { display: none; }
}
@media screen {
  .gmnoscreen { display: none; }
}
#gcp .ads { font-size: small; }
#topads, #bottomads { margin-right: 2px; padding-bottom: 0.15em; }
#bottomads { margin-top: 0.25em; }
#gcp #bottomads { margin-top: 2em; }
#topads { position: relative; margin-bottom: 0.5em; }
.adsmessage { color: gray; cursor: default; }
.ad .text { margin-left: 0.3em; }
.ad div.geoadtext { margin-left: 0pt; }
.ads .text .line5 { color: gray; }
.ads .marker { vertical-align: top; cursor: pointer; }
.ads .marker .pushpin { width: 33px; height: 28px; z-index: 0; }
.ads .marker .label { position: absolute; top: 3px; left: 3px; width: 16px; height: 16px; z-index: 1; }
.ads .text { padding: 0.1em 0.25em 0.1em 0.1em; vertical-align: top; cursor: default; }
.ad .marker { position: absolute; }
.ad .text { position: relative; }
.ads .text .phone {  }
.ads .text .webst a:link { color: rgb(119, 119, 204); }
.ads .text .visurl { color: green; }
#panel .ads .selected { background-color: rgb(201, 220, 255); }
.iwgeoad { margin: 0pt; font-size: small; }
.iwgeoad .admsg { font-size: 90%; color: gray; }
.iwgeoad .head { padding-right: 0.2em; }
.iwgeoad .head .title { font-size: medium; font-weight: bold; }
.iwgeoad .detls {  }
.iwgeoad .detls .visurl { padding-top: 0pt; color: green; }
.iwgeoad .detls .addr { padding-top: 0.5em; color: gray; }
.iwgeoad .image { vertical-align: top; padding-left: 0.5em; }
.iwgeoad .image .bdr { border: 1px solid silver; }
.iwgeoad .image img { border: 2px solid white; }
.sp { font-size: small; padding-left: 1px; padding-top: 1px; padding-right: 4px; }
.sp .title { font-size: medium; font-weight: bold; }
.sp .description { padding-bottom: 1em; }
.sp .showing { margin-bottom: 0.75em; }
.sp .kmllegal { font-size: 85%; color: gray; }
.kmlzfm { margin: 0pt auto 1em; padding: 2px; background-color: rgb(255, 234, 192); text-align: center; }
.fdra { vertical-align: top; margin-left: 3px; }
.fdrc { margin-top: 0pt; margin-left: 3px; width: 14px; height: 14px; }
.fdrf { font-size: small; }
.fdrl { margin-left: 3px; }
.fdrn { border: 2px solid ; margin: 5px; width: 18px; height: 18px; }
.fdrlt { margin-left: 3px; margin-top: 3px; }
.fdrp { width: 32px; height: 32px; margin-top: 0pt; }
.fdrt { margin-top: 5px; }
.fdfl { width: 100%; }
.isIe7 #kmlpanel { overflow: hidden; }
.isIe6 table.fdfl { width: 94%; }
.fdsnippeto, .onelineo { overflow: visible; padding-bottom: 2px; position: relative; width: 100%; height: 1em; }
.fdsnippeti, .onelinei { overflow: hidden; width: 100%; height: 2em; line-height: 2em; top: -0.5em; position: absolute; left: 0pt; }
a:link { color: rgb(0, 0, 204); }
a:visited { color: rgb(85, 26, 139); }
a:active { color: red; }
a.a { color: green; }
a.fl { color: rgb(119, 119, 204); }
a.q:visited { color: rgb(0, 0, 204); }
#hm { position: absolute; z-index: 3; }
#hm table { border: 1px solid black; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.ac td { padding: 1px 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 0, 0); display: block; cursor: default; font-size: 80%; white-space: nowrap; }
.ac td.no-sel-on-hover { background: rgb(229, 240, 255) none repeat scroll 0% 0%; }
.ac td.sel { padding: 1px 2px; background: rgb(51, 102, 204) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.ac td b { color: rgb(0, 0, 0); }
.ac td.sel b { color: rgb(255, 255, 255); }
.acl { color: rgb(0, 0, 204); cursor: pointer; white-space: nowrap; }
.acdel { margin-top: 2px; }
.acsuggest { position: relative; }
.actype { position: absolute; right: 0pt; color: green; }
.suggest { font-size: small; }
.suggest .didyou { color: rgb(204, 0, 0); font-size: small; }
.suggest .visibletype { padding-left: 0.6em; padding-right: 0.6em; font-size: 11px; color: rgb(102, 102, 102); }
.suggest .ref { margin-top: 0.5em; }
.suggest .refquery { font-size: small; }
div .n { margin-top: 1ex; }
.n a { font-size: 10pt; color: rgb(0, 0, 0); }
.n .i { font-size: 10pt; font-weight: bold; }
.i, .i:link { color: rgb(169, 10, 8); }
.q:visited, .q:link, .q:active, .q { color: rgb(0, 0, 204); }
.b a { font-size: 12pt; color: rgb(0, 0, 204); font-weight: bold; }
.nav { padding-left: 2em; }
.imgn { line-height: 1px; }
#ap .abc { border: 0pt none ; margin: 0pt; padding: 0pt; position: relative; width: 100%; color: rgb(0, 0, 0); font-size: small; }
#ap .abd { padding: 4px; }
#ap table { width: 100%; }
#ap td, th { padding: 2px; white-space: nowrap; vertical-align: middle; }
#ap input { margin: 2px; }
#ap .abnew { width: 200px; }
#ap .abadd input { padding: 2px; }
#ap .ablist { background-color: rgb(255, 255, 255); border-collapse: collapse; color: rgb(0, 0, 0); }
#ap .abempty { padding: 1em; text-align: center; }
#ap .abcb { width: 1em; }
#ap .abarrow { width: 4em; }
#ap .abloc { width: 30em; }
#ap .ablab { width: 20em; }
#ap .abpad { padding: 2px; width: 1em; }
#ap .abloc input { border: 1px solid gray; padding: 2px; width: 300px; }
#ap .ablab input { border: 1px solid gray; padding: 2px; width: 200px; }
#ap .abitem td { border-style: solid none; border-color: silver -moz-use-text-color; border-width: 1px 0pt; }
#slm { border: 1px solid black; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; z-index: 3; font-size: small; }
#slm .hdr { margin: 0.6em 0.6em 0.8em; font-weight: bold; }
#slm .ln { padding: 0pt 0.6em 0.2em; }
#slm .sl_e { color: gray; }
#slm .lnv { padding: 0.6em 0.6em 0.2em; }
#slm .bdy { margin-bottom: 0.6em; }
@media print {
  #paneltoggle, #paneltabs, #pl_ctls, #pwds, #pnc.untouched table, .links { display: none; }
  #pnc.untouched #gmm_msg { display: block; }
  #panel, #spsizer { height: auto ! important; }
  .printimage { border: 1px solid silver; }
  #printmessage { border: 1px solid black; padding: 1.5mm 2mm; display: block; position: absolute; z-index: 100000; top: 0pt; right: 0pt; width: 7cm; color: rgb(0, 0, 0); background-color: silver; text-align: center; font-size: 6pt; font-family: sans-serif; }
}
.iw { font-size: small; padding-right: 10px; line-height: normal; }
.iw a { cursor: pointer; }
.iw .card { padding: 0pt; display: none; margin-top: 0pt; }
.iw .wizard a.contentlink:visited { color: rgb(85, 26, 139); }
.iw .wizard a.contentlink:active { color: red; }
.iw .wizard .label { color: gray; font-size: 85%; }
.iw .wizard .iwdir, .iw .rev { padding: 0pt; }
.iw .wizard .backbutton, .iw .wizard .nextbutton { margin: 0pt; }
.iw .small { font-size: 0.85em; }
.iw .basics { padding-bottom: 0.2em; }
.iw .wizard .heading { width: 17em; font-weight: bold; }
.iw .wizard #dir_heading { font-weight: normal; }
.iw .active { font-weight: bold; }
.iw .wizard span.selected { font-weight: normal; }
.iw .top { margin-top: 0pt; }
.iw .wizard .backbutton { display: inline; }
.iw .wizard a:visited { color: rgb(0, 0, 204); }
.iw .wizard .light a:link, .iw .wizard .light a:visited { color: rgb(119, 119, 204); }
.iw .wizard .inptsmall { width: 13.45em; }
.iw .wizard #actions { margin-top: 2em; }
.iw .wizard .block { display: block; }
.iw .status { background: rgb(255, 234, 192) none repeat scroll 0% 0%; padding-left: 1em; padding-right: 1em; margin-bottom: 0.5em; text-align: center; }
.iw .iwdir .label { color: gray; font-size: 85%; }
.iw .wizard .example { font-size: 85%; color: grey; padding-top: 0.2em; }
.iw .wizard .lgeg { color: gray; }
.iw .wizard .sbmt { margin: 0pt 0pt 0pt 0.1em; padding: 0pt; display: inline; }
.iw .title { font-size: medium; font-weight: bold; margin-bottom: 0pt; }
.iw .maxtitle { margin-right: 16px; }
.iw .sd { margin-top: 0.2em; }
.iw .sd .lnk { font-size: 85%; padding-top: 0.5em; padding-bottom: 0.5em; }
.iw .sd a.lnkmore:link { color: green; }
.iw .sd a.lnkmore, .iw .sd span.tab { white-space: nowrap; }
.iw .sd .src { padding-top: 0.2em; }
.iw .sd .src, .iw .sd .src a { color: green; }
.iw .pn { padding-top: 0.1em; padding-bottom: 0pt; }
.iw .iscentroid { color: gray; }
.iw .iscentroid_hl { color: rgb(255, 126, 16); background-color: rgb(255, 234, 192); }
.iw .ref { padding-bottom: 0.2em; }
.iw .ref a:link { color: green; }
.iw .homepage { color: green; }
.iw .rev { padding: 0pt; }
.iw .rev a:link { color: rgb(119, 119, 204); }
.iw .stp { display: inline; padding-top: 0.1em; padding-bottom: 0.2em; }
.iw .short_msg { color: rgb(34, 34, 34); font-size: 110%; letter-spacing: 0.1ex; padding-bottom: 1em; }
.iw .iwdir { padding-bottom: 2px; }
.iw .attr { padding-top: 0.15em; }
.iw .attr .name { font-weight: bold; }
.iw .tab { text-decoration: underline; color: rgb(0, 0, 204); cursor: pointer; }
.iw span.selected { font-weight: bold; text-decoration: none; color: rgb(0, 0, 0); cursor: default; }
.iw div.selected { display: block; }
.iw .iwdir .card .chooser { font-weight: bold; text-align: left; }
.iw .basicinfo { width: auto; vertical-align: top; padding-bottom: 1.2em; }
.iw .addr { padding-top: 0.5em; }
.iw .imcaption { font-size: 90%; padding-left: 1.6em; vertical-align: top; }
#saveplacebutton { margin-bottom: 1px; }
#saveplacechoices { width: 11.5em; }
.iw .wizard .ssLearnMore, .iw .wizard .ssLearnMore:visited { color: rgb(119, 119, 204); text-decoration: none; font-weight: normal; }
.ssmod { background-color: rgb(255, 238, 205); }
.ssmodtime { font-size: smaller; color: gray; }
.mmpaneltitle { font-weight: bold; font-size: 12pt; color: rgb(0, 0, 0); }
.mmauthor { color: green; }
.mmdetails { margin-bottom: 0.5em; font-size: 10pt; }
.mmwarning { font-size: 70%; padding-bottom: 0.5em; color: gray; }
#listmaps { table-layout: fixed; }
.ms { font-size: small; margin-bottom: 10px; }
.ms .hdr { font-size: medium; font-weight: bold; }
.ms .newopen { color: gray; }
.mapinfo { overflow: hidden; width: 100%; }
.msowner { color: gray; font-size: small; }
.mscreatedby { color: gray; }
.mscreatedby a:link, .mscreatedby a:visited { color: rgb(119, 119, 204); }
.mspublic { color: gray; }
.msdelete { text-decoration: underline; cursor: pointer; color: rgb(119, 119, 204); }
.mswelcome { padding-left: 1.5em; }
.msmenu { height: 25px; }
.msmenu .btns {  }
.ms textarea { overflow: auto; width: 100%; }
.ms .inputField { width: 100%; }
.msline { margin: 1em; width: 17em; background-color: rgb(255, 255, 255); font-size: small; }
.msline td { margin-left: 0pt; text-align: left; }
.msline .label, .msedit .label { color: rgb(102, 102, 102); font-size: 80%; font-weight: bold; padding-right: 8px; white-space: nowrap; }
.msline .label { font-size: 100%; }
.ms .label { color: rgb(102, 102, 102); font-size: small; font-weight: bold; margin-right: 10px; }
.ms .description { font-size: small; }
.msstatus { color: rgb(0, 0, 0); font-size: 90%; }
.msstatus td { vertical-align: baseline; font-weight: bold; }
.msstatus a { color: rgb(119, 119, 204); }
.msmetadata { overflow: hidden; }
.msmetadata span { color: rgb(102, 102, 102); font-family: arial,sans-serif; font-size: 90%; white-space: nowrap; }
.msmetadata a { color: rgb(119, 119, 204); }
.msindexstatusexplain { color: rgb(0, 0, 0); font-weight: normal; }
.msfd { font-size: small; }
.msback { font-size: small; position: absolute; top: -8px; left: -8px; }
.msbbgap { height: 12px; }
.ms .res { margin-top: 10px; padding-top: 10px; width: 100%; }
.ms .res .name { font-size: small; }
.ms .res .text { width: 100%; }
.ms .sbtns { margin-bottom: 10px; margin-right: 3px; }
.ms .saveStatus { color: gray; font-size: 90%; }
.ms .alert { color: red; }
.msline .colorbox { border: 1px solid rgb(102, 102, 102); padding: 1px; height: 1em; width: 3.5ex; }
.msline tr { height: 1.7em; }
.msline .numberfield { width: 3.5ex; height: 1em; }
.msMapTitle { width: 92%; }
.msiw .title, .msMapTitle .title { font-size: medium; font-weight: bold; }
.msMapTitle .title, .msMapTitle .description { margin-right: 6px; }
.msMapTitle .title div, .msMapTitle .description div { width: 100%; }
.msMapTitle .title .inputField { font-size: 100%; }
.msiw .title { font-size: 100%; }
.msstyle .title { font-size: 130%; font-weight: bold; }
.msiw .addr, .msedit .description { font-size: small; }
.msiw .description { font-size: small; padding-bottom: 0.7em; }
.msiw .photo { height: 12.5em; }
.msiw .photo img { height: 12.5em; }
.msedit { width: 18em; min-width: 264px; padding-right: 14px; max-height: 450px; overflow-y: auto; overflow-x: hidden; }
.msedit .tabs, .msstyle .tabs { white-space: nowrap; font-size: 70%; text-align: right; }
.msstyle .tabs .pad { padding: 8px; }
.msedit .stab, .msstyle .stab { font-weight: bold; white-space: nowrap; }
.msstyle .tabRight { text-align: right; width: 100%; }
.msstyle .navRight, .msedit .navRight { font-size: small; padding-left: 0.2em; white-space: nowrap; vertical-align: baseline; }
.msstyle .navLeft, .msedit .navLeft, .msiw .navLeft, .sbtns .navLeft { font-size: small; width: 100%; vertical-align: baseline; }
.msedit .iwspan { width: 100%; }
.msstyle .rb { text-align: right; width: 100%; font-size: small; border-spacing: 2px; }
.msedit .stylecol { width: 36px; }
.msedit .icon { border: 2px solid blue; padding: 2px; width: 32px; height: 32px; text-align: center; vertical-align: middle; }
.imcell { border: 2px solid rgb(255, 255, 255); }
.ms .icon { cursor: pointer; text-align: center; }
.msim .cursor { border: 4px solid rgb(0, 255, 0); }
.msedit .inputField input { width: 10em; }
.msedit table.inputField { width: 100%; }
.msedit .textField { width: 100%; height: 9.2em; font-family: sans-serif; }
.msedit #rtfield { height: 9.2em; margin-bottom: 0.5em; }
.msstyle { background-color: rgb(255, 255, 255); height: 100%; width: 100%; top: 0pt; left: 0pt; }
.icon .poly { border: 2px solid ; margin: 5px; width: 18px; height: 18px; }
.msicons { background-color: rgb(255, 255, 255); }
.msim { overflow: auto; width: 100%; height: 87%; padding-top: 2px; }
.msedit .dvm { border-style: solid; border-color: rgb(232, 241, 255) rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255); border-width: 2px; padding: 2px; position: absolute; cursor: pointer; z-index: 2; }
.msedit .tbr { white-space: nowrap; padding-left: 4px; }
.msedit .tbb { border: 1px solid rgb(255, 255, 255); margin: 0pt 1px; padding: 0pt; width: 18px; height: 18px; vertical-align: middle; }
.msedit .msdb { border-style: solid; border-color: rgb(157, 174, 205) rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205); border-width: 1px; }
.msedit .ob { border-style: solid; border-color: rgb(157, 174, 205) rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205); border-width: 1px; background-color: rgb(232, 241, 255); }
.msedit .hb { border-style: solid; border-color: rgb(232, 241, 255) rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255); border-width: 1px; }
.msedit .iv { border: 0pt none ; margin: 0pt; padding: 0pt; position: absolute; left: 0pt; right: 0pt; width: 0pt; height: 0pt; }
.msedit .ed { border: 2px inset rgb(204, 204, 204); padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; }
.msedit .ef { width: 100%; }
.msiw .lk, .msedit .lk, .msstyle .lk { color: rgb(0, 0, 204); text-decoration: underline; cursor: pointer; white-space: nowrap; }
.ms .lk { color: rgb(0, 0, 204); text-decoration: underline; cursor: pointer; }
.msedit .tbo { -moz-user-select: none; }
.mscoll { font-size: 90%; width: 45em; }
.mscollpaneleft { width: 55%; }
.mscollpaneright { width: 45%; }
.mscolldivleft { border-right: 1px solid gray; padding: 3px 10px 10px; }
.mscollbighd { font-weight: bold; color: rgb(0, 0, 0); font-size: 120%; padding-bottom: 10px; }
.mscollhd { font-size: 90%; font-weight: bold; color: gray; }
.mscollmed { font-size: 85%; color: gray; }
.mscollsmall { font-size: 80%; color: gray; }
.mscollmsgbox { border: 1px solid rgb(170, 170, 170); padding: 10px; }
.mscollmsg { width: 100%; font-size: 90%; }
.mscollcbxmsgsmall { font-size: 75%; }
.mscollcbxmsgbig { font-size: 85%; }
.mscolladvperm { border-bottom: 1px solid rgb(170, 170, 170); padding: 3px 10px 10px; }
.mscolllistpane { padding: 10px; }
.mscollrmlnk { font-size: 85%; }
.mscolllistdiv { overflow: auto; margin-top: 10px; padding-left: 20px; height: 10.4em; }
.mscollname { font-size: 90%; }
.mstotaldistance { font-size: 70%; color: gray; }
.msfeatureupdater { font-size: 70%; color: gray; }
.msfeatureupdater a { color: rgb(119, 119, 204); }
.msfeatureupdaterbot { padding-bottom: 3px; }
.msxbutton { display: block; float: right; width: 12px; height: 12px; background-image: url('iw_close.gif'); background-repeat: no-repeat; cursor: pointer; }
a.msxbutton:hover { width: 12px; height: 12px; background-image: url('mm_close_hover.gif'); }
a.msxbutton:active { width: 12px; height: 12px; background-image: url('mm_close_active.gif'); }
.msinfotitle { margin-top: 0.6em; font-size: 12pt; font-weight: bold; }
a.msiwreview:link { color: rgb(119, 119, 204); }
a.msiwreview:visited { color: rgb(119, 119, 204); }
.msiwpde { padding: 5px; background-color: rgb(238, 238, 238); margin-bottom: 10px; }
.msiwpdehp { color: green; }
.msiwpd { margin-top: 4px; }
.msiwpdeheader { color: rgb(102, 102, 102); font-size: 80%; font-weight: bold; }
.msiwpdeeheader { font-size: medium; }
.msiwpdecol { font-size: small; text-align: right; }
.msiwpdeedit { font-size: 85%; text-align: right; }
.msiwpdeaddcat:link, .msiwpdeaddcat:visited { font-size: 90%; text-align: right; color: rgb(119, 119, 204); }
.msiwpdels { width: 1px; height: 5px; }
.msiwpdel { color: rgb(102, 102, 102); font-weight: bold; font-size: 85%; }
.msiwpdeex { color: rgb(102, 102, 102); font-size: 85%; }
.msiwpdei { width: 100%; }
.msiwpdecati { width: 92%; }
.msiwpdecatd { text-align: right; }
a.msiwpdhidden:link { margin-top: -5px; color: rgb(119, 119, 204); font-size: 70%; }
.msiwcat { max-width: 16em; font-size: 85%; color: rgb(102, 102, 102); }
.msiwpdupdates { color: rgb(102, 102, 102); font-size: 85%; }
.msdistancehelp { color: rgb(0, 0, 0); }
.msinfotitlegap { height: 0.6em; width: 1px; }
.msimport { margin: 10px; font-size: small; }
.msimporttitle { font-size: 138%; font-weight: bold; display: block; margin-bottom: 0.5em; }
.msimportmaxsize { font-size: 80%; }
.msimportinputcol { color: gray; }
.msimportinput { width: 100%; direction: ltr; }
.msimportradiocol { vertical-align: top; padding-right: 5px; }
.msimportsubtext { color: gray; font-size: 90%; }
.msimportiframe { display: none; }
.mssendingstatus { position: absolute; top: 0pt; right: 0pt; color: rgb(255, 255, 255); background-color: rgb(255, 102, 0); padding-left: 4px; padding-right: 4px; padding-bottom: 2px; }
.msimportmessagetitle { font-weight: bold; }
.msimportmessagetext { color: gray; }
.msimportmessagetitleerror { color: red; }
.msimportmessagebuttons { text-align: center; }
.msimporticontd { text-align: right; vertical-align: middle; }
.mscolldone { text-align: right; padding-top: 0.8em; }
.mscollx { position: absolute; left: 45em; top: 10px; cursor: pointer; }
.mspic { border: 1px solid rgb(170, 170, 170); width: 32px; height: 32px; }
.msdragplaceholder { border: 2px dashed rgb(170, 170, 170); background-color: rgb(255, 255, 255); }
.msdraghighlight { border: 2px dashed rgb(170, 170, 170); }
.msdragnohighlight { border: 2px solid rgb(0, 0, 204); }
.msdragpagediv { text-align: center; vertical-align: middle; position: absolute; padding-top: 2px; padding-bottom: 2px; background-color: rgb(255, 255, 255); }
.msdragclone { z-index: 1007; opacity: 0.8; }
.msdragclonetable { border: 1px solid rgb(170, 170, 170); margin: 0pt 0pt 0pt 1px; padding: 0pt; background-color: rgb(255, 255, 255); }
@media print {
  #map { width: 300px; }
  #panel { background-image: url('gen_204'); }
}
.mmboxheaderactive { margin: 0pt 0pt 1px; padding: 0pt; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.mmboxheaderinactive { margin: 0pt 0pt 1px; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.mmboxbody { margin: 0pt; padding: 0pt; }
.mmerr { font-size: smaller; font-style: italic; }
.mmmsg { padding: 2px 10px 10px 2px; margin-top: 4px; font-size: smaller; font-weight: bold; }
.mmmsg table { background-color: rgb(255, 234, 192); text-align: center; }
div.mmmsg td { padding: 5px; }
.mmheaderlinks {  }
.mmcat { text-align: left; font-size: 10pt; padding-bottom: 10px; padding-right: 2px; }
.mmpanel { overflow-y: hidden; }
#mmheaderpane { overflow-x: hidden; overflow-y: auto; padding-top: 0.2em; }
.mmbodypane { padding-top: 5px; overflow-x: hidden; overflow-y: auto; }
.mmbodypanesplit { border-top: 1px solid rgb(148, 150, 148); }
.mmhdr { margin: 0pt; padding: 0pt; }
.mmhdrrow { vertical-align: middle; }
.mmcheckbox { width: 25px; }
.mmdot { padding-top: 1px; padding-right: 2px; }
.mmpaneltitle { font-weight: bold; font-size: 12pt; color: rgb(0, 0, 0); }
.mmauthor { color: green; }
.mmdetails { margin-bottom: 0.5em; font-size: 10pt; }
.mminfo { color: gray; }
.mmttl { width: 100%; font-size: 10pt; }
.mmttl .active { font-weight: bold; color: rgb(0, 0, 0); }
.mmttl .inactive { font-weight: normal; color: rgb(0, 0, 204); text-decoration: underline; cursor: pointer; }
.mmttl div { overflow: hidden; width: 100%; }
.mmpul { overflow: hidden; font-size: small; color: rgb(102, 102, 102); }
.mmpul span { padding-left: 10px; padding-right: 10px; font-size: 85%; }
.mmbtn { display: block; margin-top: 1px; width: 12px; height: 12px; background-image: url('iw_close.gif'); background-repeat: no-repeat; cursor: pointer; padding-right: 2px; vertical-align: top; }
.mmdel { background-image: url('iw_close.gif'); }
a.mmdel:hover { background-image: url('mm_close_hover.gif'); }
a.mmdel:active { background-image: url('mm_close_active.gif'); }
.mmreload { text-align: right; font-size: 8pt; white-space: nowrap; }
.mmsubhdr { margin-top: 5px; margin-bottom: 8px; }
.mmbulletlst { margin-top: 0.5em; margin-bottom: 1em; }
.mmbullet { margin-left: -1.2em; margin-right: 1em; padding-bottom: 5px; }
.mmbutton { padding: 0pt 0.6em; overflow: visible; width: auto; }
.mmfchd { font-size: 8pt; font-weight: bold; margin-top: 0.8em; }
