<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Turbulent Structure Laboratory, Tel Aviv University</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Turbulent Structure Laboratory">
  <meta name="author" content="Alex Liberzon">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{{ site.baseurl }}/index.html">Turbulence Structure Lab</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="{{ site.baseurl }}/research/"><span class="glyphicon glyphicon-eye-open"></span> Research</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/publications.html"><span class="glyphicon glyphicon-briefcase"></span> Publications</a>
						</li>
						<li >
							<a href="{{ site.baseurl }}/people.html"><span class="glyphicon glyphicon-user"></span> People</a>
						</li>
						<li >
							<a href="{{ site.baseurl }}/software.html"><span class="glyphicon glyphicon-folder-open"></span> Software </a>
						</li>
						<li >
              			 <a href="{{ site.baseurl }}/blog.html"><span class="glyphicon glyphicon-pencil"></span> Blog </a>
            			</li>
						
					</ul>
						
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"> How to: <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ site.baseurl }}/howtofindus.html"> Find the laboratory </a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/contact.html"> Contact us </a>
								</li>
								<li>
									<a href="{{ site.baseurl }}/howtoupdate.html"> Update this website </a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="{{ site.baseurl }}/developers.html"> Join our development team</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
			<div class="page-header">
				<h1> Turbulence Structure Laboratory</h1>
			</div>
			<div class="row clearfix">
				<div class="col-md-8 column">
					<div>
				<h2>
					Introduction
				</h2>

						<strong>Turbulence Structure Laboratory</strong> is a research laboratory, affiliated with the School of Mechanical Engineering, Faculty of Engineering and Tel Aviv University. We study the structure and dynamics of turbulent flows.
					</div>
					
					
					<blockquote>
						<strong>Turbulence</strong> it is a disordered motion of fluid that has enormous practical importance. We believe that detailed experiments, jointly performed with the numerical simulations and leaded by the theoretical predictions will help us gaining better insight into the structure of turbulence.
					</blockquote>
					
					<div>
						We <strong>develop</strong> <strong>novel measurement techniques</strong>, both <strong>hardware</strong> and <strong>software</strong>, all devoted to <strong>turbulence</strong> research. For example, we design and develop <strong>miniature multi-hot-cold film anemometers, three-dimensional particle tracking velocimetry with real-time image processing, and flexible blade rheometers</strong>
					</div>
					<p>
					</p>
				</div>
				<div class="col-md-4 column">
				<h3>
					Open positions
				</h3>
					<p>
						If you want to develop next generations of experimental methods for fluid dynamics or heat transfer; if you want to understand better the physics of turbulent flows, contact us. We are looking for excellent students and top researchers. </small>
					</p>
				</div>
			</div>
			<div class="carousel slide" id="carousel-619477">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-619477">
					</li>
					<li data-slide-to="1" data-target="#carousel-619477">
					</li>
					<li data-slide-to="2" data-target="#carousel-619477">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<img alt="" src="{{ site.baseurl }}//images/pod4.jpg">
						<div class="carousel-caption">
							<h4>
								Proper Orthogonal Decomposition (POD)						</h4>
							<p>
								We develop data mining and numerical method tools that help understand better the underlying structure of turbulent flows in experimental and numerical data.  
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{{ site.baseurl }}//images/theprobe.jpg">
						<div class="carousel-caption">
							<h4>
							    In-filed experiment, Swiss Alps
							</h4>
							<p>
								Turbulent velocity, velocity and scalar gradients measurements in the fully developed atmospheric boundary layer at very high Reynolds number using the 25-wires hot-cold-wire probe. 
							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="" src="{{ site.baseurl }}//images/lab.jpg">
						<div class="carousel-caption">
							<h4>
								3D-PTV
							</h4>
							<p>
								We develop experimental methods of Particle Image Velocimetry, three-dimensional Particle Tracking Velocimetry, object tracking in visible and IR spectrum and implement these in the studies of turbulent structure, particles/bubbles/droplets motion in turbulence, complex bio-medical and bio-physical flows and animals-turbulence interaction. 
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-619477" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-619477" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Highlights 
			</h2>
			<p>
				Turbulent patch in stratified environment it's a model of strong episodic turbulent events that are present in oceanic and atmospheric flows. Have you ever felt the "bumpiness" during the flights? Some of those are due to the localised turbulent events. How these grow, do they saturate, what is their lifetime? 
			</p>
			<p>
				<a class="btn" href="{{ site.baseurl }}/research/">To the research page »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				The team
			</h2>
			<p>
				The real strength of each laboratory is due to the great students, engineers and technicians. Meet our team, read about their research topics and see were our alumni work after the laboratory.
			</p>
			<p>
				<a class="btn" href="{{ site.baseurl }}//people.html">Meet the team »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Open source
			</h2>
			<p>
				Our software is always open source. Thanks to the great innovation in the Python Scientific Community, we can develop great tools - <strong>Open Source Particle Image Velocimetry</strong> and <strong>Open Source 3D Particle Tracking Velocimetry</strong> packages.
			</p>
			<p>
				<a class="btn" href="{{ site.baseurl }}//software.html"> Our software projects »</a>
			</p>
		</div>
	</div>
<hr>
<footer>           
  <small> &copy; Alex Liberzon, Tel Aviv University </small>       
</footer>
</div>
</body>
</html>
