---
layout: default
---



{{content}}

<html>

				</div>
				<div class="col-md-4 column">
					<p class="text-left">
						<h3> Open positions</h3>
					</p>
					
					<div>
						We're looking for M.Sc., Ph.D. students and postdocs on the hardware and software development for new experimental methods, physics of turbulence, particles/bubbles/droplets in fluids, bio-fluid dynamics and biology - turbulence interactions.
					</div>
					
					<div>
						Send your CV and research interests using the e-mail address of Prof. Alex Liberzon
					</div>
					
</html>